// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;


$dark-blue: #A0A6A8;
$pink: #505354;
$light-blue: #CB6040;
$light-grey: #d9d4e7;


$custom1: #CB6040;
$custom2: #257180;
$custom3: #257180;
