// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$dark-blue: #d1d1d1;
$pink: #291422;
$light-blue: #3B1C32;
$light-grey: #C7C8CC;
$secondary: #abb3ce;


// $dark-blue: #232946;
// $pink: #EEBBC3;
// $light-blue: #B8C1EC;
// $light-grey: #D9D4E7;
