<h1>New Skill</h1>

<div class="container">
  <h1>Start a new booking</h1>
  <%= simple_form_for [@skill, @booking] do |f| %>
    <%= f.input :status, placeholder: "Enter the booking status" %>
    <%= f.submit "Add Skill" %>
  <% end %>
</div>
