<h1>Available Skills</h1>

<ul>
  <% @skills.each do |skill| %>
    <li>
      <h3><%= link_to skill.title, skill_path(skill) %></h3>
      <p><%= skill.description %></p>
      <p>Price: <%= number_to_currency(skill.price, :unit => "£") %></p>
    </li>
  <% end %>
</ul>
