// .alert {
//   position: fixed;
//   bottom: 16px;
//   right: 16px;
//   z-index: 1000;
// }


.alert {
  position: fixed;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  padding: 16px;
  background: $pink;
  color: $dark-blue;
  border-radius: 8px;
  animation: slideIn 1.5s ease-out, fadeOut 6.5s ease-out forwards; /* Slide in and fade out */
}

/* Slide-in Animation */
@keyframes slideIn {
  from {
    transform: translate(-50%, 50px);
    opacity: 0;
  }
  to {
    transform: translate(-50%, 0);
    opacity: 1;
  }
}

/* Fade-out Animation */
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
