/* From Uiverse.io by alexruix */
.card {
  // width: 190px;
  min-height: 250px;  /* Minimum height */
  max-height: 550px;
  overflow: hidden;
  border-radius: 20px;
  background: #f5f5f5;
  position: relative;
  padding: 16px;
  border: 2px solid $custom1;
  transition: 0.5s ease-out;
  overflow: visible;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
 }

 .card-img-top {
  border-radius: 20px;
  height: 200px;
  width: 100%;
  object-fit: cover;
}


.card-title{
  text-decoration: none;
  text-align: center;
}

.card-body{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; /* Adds the ... */
  width: 100%;
}


 .card-details {
  color: black;
  height: 100%;
  gap: .5em;
  display: grid;
  place-content: center;
 }

 .card-button {
  transform: translate(-50%, 125%);
  width: 60%;
  border-radius: 1rem;
  border: none;
  background-color: $custom1;
  color: #fff;
  font-size: 1rem;
  padding: .5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
 }

 .text-body {
  color: rgb(134, 134, 134);
 }

 /*Text*/
 .text-title {
  font-size: 1.5em;
  font-weight: bold;
 }

 /*Hover*/
 .card:hover {
  border-color: $custom3;

 }

 .card:hover .card-button {
  transform: translate(-50%, 50%);
  opacity: 1;
 }


 .card-footer {
  background-color: #f5f5f5; /* Change to desired background color */
  padding: 1rem; /* Modify padding */
  border-top: 2px solid #d3d3d3; /* Change border top */
  font-size: 0.9rem; /* Adjust font size */
  text-align: center;
}
