.navbar-lewagon {
  justify-content: space-between;
  // background: #507687;
  // background: #ECDFCC;
  background: $custom3;
  // background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;

}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  height: 40px;
}
